* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 10px;
}

.container {
    text-align: center;
}

.terrestres {
    display: grid;
    background: linear-gradient(#ff6d2f, #670000);
    border-radius: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.onca {
    grid-column-start: 1;
    margin: 3em 0 3em 2em;
}

.lobo {
    grid-column-start: 2;
    grid-row-start: 2;
    margin: 3em 2em 3em 2em;
}

.mico {
    grid-column-start: 1;
    grid-row-start: 3;
    margin: 3em 0 3em 2em;
}

.aquaticos {
    display: grid;
    background: linear-gradient(#30cbff, #012536);
    border-radius: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 2em;
}

.tartaruga {
    grid-column-start: 1;
    margin: 3em 0 3em 2em;
}

.baleia {
    grid-column-start: 2;
    grid-row-start: 2;
    margin: 3em 2em 3em 2em;
}

.boto {
    grid-column-start: 1;
    grid-row-start: 3;
    margin: 3em 0 3em 2em;
}

.resumo {
    border: 2px solid #000;
    border-radius: 20px;
    margin-top: 10em;
    margin-bottom: 10em;
    padding: 10em;
}

.inf {
    border: 2px solid #000;
    border-radius: 20px;
    margin-top: 10em;
    margin-bottom: 10em;
    padding: 10em;
}

footer div {
    display: inline-block;
    margin: 2em 6em;
    border: #000 2px solid;
    padding: 2em;
    padding-bottom: 12em;
}