@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #fafafa;
}

/* Headedr Início */
header {
    background-color: #F98C40;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.4);
    color: #121212;
}

#header {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    justify-content: space-between;
}

#menu a {
    padding: 10px 14px;
}

#menu ul li {
    list-style: none;
    display: inline-block;
    padding: 9px 0;
    margin-right: 15px;
    position: relative;
}

#menu ul li a {
    color: #121212;
    text-decoration: none;
    font-weight: 500;
}

#menu a:hover {
    background-color: #26456e;
    color: #d9d9d9;
    border-radius: 25px;
    transition: 0.1s;
}

#donate{
    background-color: #26456e;
    color: #d9d9d9 !important;
    border-radius: 25px;
}
#donate:hover{ 
    box-shadow: 0px 0px 25px 4px #6f9dd896;
}

#logo {
    width: 120px;
    margin-left: 30px;
}

#btn {
    display: none;
}

/* Header Fim */

/* Resumo Início */
.resumo {
    background-color: #f2f2f2;
    width: 100%;
    margin: 30px 0;
    padding: 120px 0;
    text-align: center;
    padding-top: 100px;
    color: #121212;
}

.resumo h1 {
    font-size: 32px;
    font-weight: 600;
}

.resumo p {
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
}

.aspas:before {
    content: "\f10d";
    font-family: FontAwesome;
    font-style: normal;
    font-size: 34px;
    line-height: 2px;
    color: rgba(152, 152, 152, .3);
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
}

/* Resumo Fim */

/* Footer Início */
footer {
    padding: 40px 0;
    background-color: #D04A07;
}

footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #fff;

}

footer .social h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

footer .social p {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
}

footer .copyright {
    background: #D04A07;
    padding: 20px 0;
    text-align: center;
}

footer .copyright p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
}

footer .copyright span {
    opacity: .4;
    font-weight: 200;
    color: #fff;
}

footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #CCC;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

footer .social a:hover {
    opacity: 0.9;
}

/* Footer Fim */

@media (max-width: 600px) {

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 150px;
        text-align: center;
        right: 0;
        height: 0;
        background: #F98C40;
        transition: 0.4s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
        overflow-x: hidden;
        box-shadow: 1px 5px 4px #1212124f;
        padding: 30px 0;
    }

    #nav.active #menu {
        height: 45vh;
        visibility: visible;
        overflow-y: auto;
    }

    #menu ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 35vh;
    }

    #menu a {
        display: flex;
        flex-direction: column;
        font-size: 1.3rem;
        overflow: hidden;
    }

    #menu a:hover {
        background-color: #26456e;
        width: 400px;
        border-radius: 15px;
    }

    #btn {
        margin-right: 1rem;
        transition: 0.2s;
        padding: 1.2rem;
        background-color: transparent;
        background-image: url(/TCC/IMG/open.svg);
        background-size: cover;
        border: none;
        cursor: pointer;
        display: block;
    }

    #btn.alt {
        transition: 0.1s;
        background-image: url(/TCC/IMG/close.svg);
        background-color: transparent;
    }
}

/*  ~~~~~ SCROLLBAR ~~~~~ */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #d9d9d9;
    box-shadow: inset 0 0 5px #ada9a9;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #26456E;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #193960;
}