* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif; /*Hauroa Sans, título // Krylon, texto */
}

/* body {
    background-image: url(../IMG/9zly_8ztc_210511.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    background: #d9d9d9;
}

header img {
    /* /* left: 2%; */
    /* position: absolute; */
    width: 80px;
    margin-left: 3%;
}

.header-links a {
    padding: 10px;
    text-decoration: none;
    margin: 30px;
}

.header-down {
    padding: 60px 0 168px 0;
    background: #e7e7e7;
    text-align: center;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.4);
}

.header-down h1 {
    font-size: 34px;
    padding-bottom: 120px;
}

.header-down p {
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 120px;
}

.header-down button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04aa6d;
    border: none;
    border-radius: 15px;
}

.header-down button:hover {
    background-color: #3e8e41;
}

.header-down button:active {
    background-color: #3e8e41;
    transform: translateY(4px);
}

.section p::first-letter {
    font-size: 24px;
}

.section {
    margin: 90px 90px;
}

.card {
    background: #e7e7e7;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.4);
    width: 100%;
    border-radius: 4px;
    display: flex;
}

.coluna-esquerda {
    flex: 0 0 30%;
    position: relative;
}

.coluna-direita {
    flex: 1;
    padding: 35px 10px;
}

.card img {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 500px;
    border-radius: 4px;
}

.card h1 {
    padding-bottom: 15px;
}

/* main{
    width: 100%;
    display: flex;
    flex-direction: column;
} */

.objetivo {
    margin: 90px 0;
    padding-bottom: 68px;
    background: #7c7c7c;
    text-align: center;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.4);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.objetivo img {
    margin-top: 2em;
    margin-left: 4em;
}

.objetivo div {
    background: hsla(0, 0%, 7%, 0.555);
    margin: 2em 2em 0 2em;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.4);
}

.objetivo h1 {
    column-span: all;
    padding: 60px 0;
}

.objetivo h2 {
    padding-bottom: 30px;
}

.objetivo p {
    padding: 0 30px 30px 30px;
    font-weight: bold;
    color: #d9d9d9;
}

.objetivo img {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 500px;
    border-radius: 4px;
}

.inf {
    padding: 60px 0 168px 0;
    background: #e7e7e7;
    text-align: center;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.4);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: 3;
    grid-gap: 60px;
}

.inf-2 {
    margin-top: 90px;
    padding: 60px 0 168px 0;
    background: #e7e7e7;
    text-align: center;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.4);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: 3;
    grid-gap: 60px;
}

.inf-2 img {
    width: 100%;
    height: 100%;
    max-width: 168px;
    border-radius: 4px;
    padding-top: 15px;
}

.inf img {
    width: 100%;
    height: 100%;
    max-width: 168px;
    border-radius: 4px;
    padding-top: 15px;
}

.onca {
    /* background: #5c5c5c; */
    border-radius: 5px;
    padding: 30px;
    margin-left: 20px;
    transition: all 0.3s ease-out;
    box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.5);
}

.lobo {
    /* background: #5c5c5c; */
    grid-column-start: 2;
    grid-row-start: 2;
    border-radius: 5px;
    box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.5);
    padding: 30px;
    margin-right: 20px;
    transition: all 0.3s ease-out;
}

.mico {
    /* background: #5c5c5c; */
    grid-column-start: 1;
    grid-row-start: 3;
    border-radius: 5px;
    box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.5);
    padding: 30px;
    margin-left: 20px;
    transition: all 0.3s ease-out;
}

.onca div {
    /* background: #7c7979; */
    padding: 0 30px 68px 0;
}

.lobo div {
    /* background: #7c7979; */
    padding: 0 30px 68px 0;
}

.mico div {
    /* background: #7c7979; */
    padding: 0 30px 68px 0;
}

@media screen and (max-width: 500px) {
    .card {
        float: none;
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .objetivo p {
        padding: 0 3px 3px 3px;
        font-size: 8;
    }
}

@keyframes slideInLeft {
    0% {
        opacity: 0.1;
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.show {
    -webkit-animation: slideInLeft 0.8s ease-in-out 0.1s forwards;
    animation: slideInLeft 0.8s ease-in-out 0.1s forwards;
}