@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&family=Montserrat&display=swap');
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

body{
    background: rgb(245, 245, 245);

}

#container {
    display: none;
}



 /* ========================================================*/ 



 /*Personalização do cartão*/ 
.container2 {
    background: #d04a07;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin-top: 20px;
}

.container2 form {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 1);
    padding: 20px;
    width: 450px;
    padding-top: 160px;
}

.container2 form .inputbox {
    margin-top: 20px;
}

.container2 form .inputbox span {
    display: block;
    color: rgb(68, 68, 68);
    padding-bottom: 5px;
}

.container2 form .inputbox input,
.container2 form .inputbox select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 3);
    color: black;
}

.container2 form .flexbox {
    display: flex;
    gap: 15px;
}

.container2 form .flexbox .inputbox {
    flex: 1 1 150px;
}

.container2 form .submit-btn {
    width: 100%;
    background: linear-gradient(45deg, #43cea2, #185a9d);
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s linear;
}

.container2 form .submit-btn:hover {
    letter-spacing: 2px;
    opacity: .8;
}

.container2 .card-container {
    margin-bottom: -150px;
    position: relative;
    height: 250px;
    width: 400px;
}

.container2 .card-container .front {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #185a9d, #43cea2);
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 2);
    padding: 20px;
    transform: perspective(1000px) rotateY(0deg);
    transition: transform .4s ease-out;
}

.container2 .card-container .front .image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.container2 .card-container .front .image img {
    height: 50px;
}

.container2 .card-container .front .card-number-box {
    padding: 30px 0;
    font-size: 22px;
    color: #fff;
}

.container2 .card-container .front .flexbox {
    display: flex;
}

.container2 .card-container .front .flexbox .box:nth-child(1) {
    margin-right: auto;
}

.container2 .card-container .front .flexbox .box {
    font-size: 15px;
    color: #fff;
}

.container2 .card-container .back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #43cea2, #185a9d);
    border-radius: 5px;
    padding: 20px;
    text-align: right;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 2);
    transform: perspective(1000px) rotateY(180deg);
    transition: transform .4s ease-out;
}

.container2 .card-container .back .stripe {
    background: #000;
    width: 100%;
    margin: 10px 0;
    height: 50px;
}

.container2 .card-container .back .box {
    padding: 0 20px;
}

.container2 .card-container .back .box span {
    color: black;
    font-size: 15px;
}

.container2 .card-container .back .box .cvv-box {
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    color: #fff;
    background: #fff;
    border-radius: 5px;
    width: 100%;
}

.container2 .card-container .back .box img {
    margin-top: 30px;
    height: 30px;
}
 /* Fim da personalização do cartão*/ 


 
 /* ========================================================*/ 



  /*Pesonalização da area em volta aos botões*/ 
.container3 {
    padding: 50px 10px;
    margin:auto;
    background:linear-gradient( 40deg,#F98C40,#d04a07);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 4px 5px 15px;
    flex-direction: row;
    max-width: 80%;
    margin-top: 100px;
}

 /*Fim da personalização da area em volta dos botões*/ 


 
 /* ========================================================*/ 



  /*Começo da personalização dos botões */ 
.input {
    padding: 12px 20px;
    width: 300px;
    margin-bottom: 20px;
}

#img {
    width: 300px;
    margin-bottom: 10px;
    margin-top: 10px;
    
}

#display-card {
    display: flex;
    flex-direction: row;
}

.img-logo{
    width: 100px;
    margin:20px;
    
}

.display-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.div-card {
    display: flex;
    margin:auto;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

button {
    width: 160px;
    height: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #185a9d;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: #963a19;
    box-shadow: 1px 5px 5px;
}

button, button span {
    transition: 200ms;
}

button .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
}

button .icon {
    position: absolute;
    border-left: 1px solid #185a9d;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button img {
    width: 15px;
    fill: #eee;
}

button:hover {
    background: #185a9d;
}

button:hover .text {
    color: transparent;
}

button:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
}

button:focus {
    outline: none;
}

.texte{
    margin-top:30px;
    
}

.text{
    font-family: 'Montserrat', sans-serif;
    
}

.div-img{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}


 /*Fim da personalização dos botões */ 


 /* ========================================================*/ 


 /*Personalização do footer */ 

footer{
    margin-top: 11%;
    background: #F98C40;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-container h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-decoration: none;
    line-height: 3rem;
}

.footer-container p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    margin-right: 10px;
}



.socials li {
    display: flex;
    align-items: center;
    margin: 2px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 2.1rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: #185a9d;
}

.footer-btn {
    background: #963a19;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-btn p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-btn span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

/* Footer Fim */

.sobre {
    width: 98%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.sobre h1 {
    font-size: 32px;
    font-weight: 600;
}

.sobre p {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 30px;
}

.opase { 
    color: #ffffff;
    
}

.doação{
text-align: center;
}
 
/*Fim da personalização do footer */ 



 /* ========================================================*/ 


@media(max-widht:600px){
    .container3 {
       
        background:linear-gradient( 40deg,#F98C40,#d04a07);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        box-shadow: 4px 5px 15px;
        flex-direction: row;
        max-width: 100%;
        margin-top: 100px;
    }
}
