@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel&family=Comfortaa&family=Creepster&family=DM+Sans&family=Kufam:ital,wght@1,500&family=Playfair+Display+SC:ital@1&family=Quicksand:wght@300&display=swap');

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
}

button {
    margin: 0;
    padding: 0;
    display: flex;
}

#container {
    display: none;
}

.container2 {
    min-height: 100vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin-top: 20px;
}

.container2 form {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 1);
    padding: 20px;
    width: 600px;
    padding-top: 160px;
}

.container2 form .inputbox {
    margin-top: 20px;
}

.container2 form .inputbox span {
    display: block;
    color: rgb(68, 68, 68);
    padding-bottom: 5px;
}

.container2 form .inputbox input,
.container2 form .inputbox select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 3);
    color: #fff;
}

.container2 form .flexbox {
    display: flex;
    gap: 15px;
}

.container2 form .flexbox .inputbox {
    flex: 1 1 150px;
}

.container2 form .submit-btn {
    width: 100%;
    background: linear-gradient(45deg, #43cea2, #185a9d);
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s linear;
}

.container2 form .submit-btn:hover {
    letter-spacing: 2px;
    opacity: .8;
}

.container2 .card-container {
    margin-bottom: -150px;
    position: relative;
    height: 250px;
    width: 400px;
}

.container2 .card-container .front {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #185a9d, #43cea2);
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 2);
    padding: 20px;
    transform: perspective(1000px) rotateY(0deg);
    transition: transform .4s ease-out;
}

.container2 .card-container .front .image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.container2 .card-container .front .image img {
    height: 50px;
}

.container2 .card-container .front .card-number-box {
    padding: 30px 0;
    font-size: 22px;
    color: #fff;
}

.container2 .card-container .front .flexbox {
    display: flex;
}

.container2 .card-container .front .flexbox .box:nth-child(1) {
    margin-right: auto;
}

.container2 .card-container .front .flexbox .box {
    font-size: 15px;
    color: #fff;
}

.container2 .card-container .back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #43cea2, #185a9d);
    border-radius: 5px;
    padding: 20px;
    text-align: right;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 2);
    transform: perspective(1000px) rotateY(180deg);
    transition: transform .4s ease-out;
}

.container2 .card-container .back .stripe {
    background: #000;
    width: 100%;
    margin: 10px 0;
    height: 50px;
}

.container2 .card-container .back .box {
    padding: 0 20px;
}

.container2 .card-container .back .box span {
    color: black;
    font-size: 15px;
}

.container2 .card-container .back .box .cvv-box {
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    color: #fff;
    background: #fff;
    border-radius: 5px;
    width: 100%;
}

.container2 .card-container .back .box img {
    margin-top: 30px;
    height: 30px;
}



.container3 {
    padding: 100px 10px;
    margin:auto;
    background: rgb(248, 245, 245);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 4px 10px 15px;
    flex-direction: row;
    max-width: 80%;
    margin-top: 100px;
}

.input {
    padding: 12px 20px;
    width: 300px;
    margin-bottom: 20px;
}

#img {
    width: 150px;
    margin-top: 15px;
    margin-bottom: 10px;
}

#display-card {
    display: flex;
    flex-direction: row;
}

.display-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.div-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

button {
    width: 160px;
    height: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #43cea2;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: #43cea2;
    box-shadow: 1px 5px 5px;
}

button, button span {
    transition: 200ms;
}

button .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
}

button .icon {
    position: absolute;
    border-left: 1px solid #ff7b00;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button img {
    width: 15px;
    fill: #eee;
}

button:hover {
    background: #0099ff;
}

button:hover .text {
    color: transparent;
}

button:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
}

button:focus {
    outline: none;
}

.texte{
    margin-top:30px;
    
}

.text{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
}