* {
    margin: 0;
    padding: 0;
}

#header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 70px;
    justify-content: space-between;
    background-color: #e7e7e7;
}

a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}

#menu a:hover {
    background-color: #7e7e7e7e;
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
}


#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a {
    display: block;
    padding: .5rem;
}

#btn {
    display: none;
}

    /* Fim da header */


    /* Responsividade */
@media (max-width: 600px) {
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0;
        height: 0;
        background: #e7e7e7;
        transition: .4s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: 50vh;
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 20px 1rem;
        text-align: center;
        font-size: 1.2rem;
        border-bottom: 2px solid #d9d9d9;
        padding: 20px;
    }

    #btn {
        transition: 0.2s;
        padding: 13px;
        background-color: transparent;
        background-image: url(./IMG/open.svg);
        background-size: cover;
        border: none;
        cursor: pointer;
        display: block;
    }

    #btn.alt {
        transition: 0.1s;
        background-image: url(./IMG/close.svg);
        background-color: transparent;
    }

}